@{
    ViewBag.Title = "About";
}

<div class="text-center">
    <h1>
        About us
    </h1>
    <hr/>
    <h3>
        .Food is a rocket-fueled, fast paced startup ready to show the world what we're made of.
    </h3>

    <h4 class="text-muted">
        We lied about the rocket fuel.
    </h4>
</div>

