@{
    ViewBag.Title = "Contact";
}

<div class="text-center">
    <h1>
        Contact us
    </h1>
    
    <hr/>
    
    <strong>Business Inquiries:</strong> <a href="mailto:business@example.com">Business@example.com</a>
    <br/>
    <a href="/" class="btn btn-outline-secondary my-3">We're Hiring!</a>
</div>
