@model IEnumerable<ReviewSiteLogic.Render.RestaurantDisplay>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4 card">
            <div class="card-body">
                <h2 class="card-title">Your source for discovering great Restaurants.</h2>
                <a href="/Home/ListRestaurants" class="btn btn-outline-primary btn-lg">Dive in &raquo;</a>
            </div>
        </div>
    </div>

</div>

<h2>Top 3 Restaurants</h2>
<div class="row container">
    @foreach (var restaurant in Model) {
        <div class="col-md-3 card">
            <div class="card-body">

                <h3 class="card-title">@Html.DisplayFor(modelItem => restaurant.Name)</h3>
                <h4 class="card-text">@restaurant.Rating.ToString("N1") / 10</h4>
                <!--
                @Html.DisplayFor(modelItem => restaurant.Address)<br/>
                @Html.DisplayFor(modelItem => restaurant.Phone)<br/> -->
                <a href="/Home/ViewRestaurant/@restaurant.Id" class="btn btn-outline-primary">Details & Reviews</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    }
</div>